/* Common Shared Style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* header related styles */
.header{
    width: auto;
    background-color: #FFF8F3;
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 100px;
    display: flex;
}
.banner{
    padding-top: 70px;
    padding-right: 100px;
}

.banner h1{
    font-size: 50px;
}

.banner p{
    font-size: 12px;
    padding-right: 40px;
}

.btn-primary{
    background: #E55473;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700px;
    color: white;
    padding: 12px 25px;
    width: 120px;
}
.banner-image{
    width: 500px;
}

/* hot deal parts styles */
.hot-deal{
    display: flex;
    align-items: center;
    padding: 100px 250px;
    background-color: #fff8f3;
}
.hot-deal-text{
    align-items: center;
    justify-content: center;
    padding-right: 150px;
    text-align: center;
}
.hot-deal-text p{
    font-size: 12px;
    align-items: center;
    text-align: center;
}
span{
    color: #E55473;
}
.hot-deal-image{
 width: 250px;   
}

/* instagram parts styles */
.instagram{
    padding: 70px 150px;
}
.instagram-text{
    text-align: center;
}
.section-description{
    font-size: 12px;
    padding: 0 300px;
}

.instagram-images{
display: flex;


}
.instagram-images-1{
    padding-right: 10px;
    width: 250px;
    height: 300px;
}
.instagram-images-2{
    padding-right: 10px;
    width: 250px;
    height: 300px;
}
.instagram-images-3{
    padding-right: 10px;
    width: 250px;
    height: 300px;
}
/* latest deals related styles */

.latest-deals{
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    padding: 100px 120px;
    margin: 50px 150px;
}
.latest-deals-text{
    text-align: center;
}
#email{
    padding: 12px 250px 12px 10px;
    border: 0;
    border-radius: 5px;
}
.input-email{
    padding-right: 10px;
}
.input-subscribe-part{
    display: flex;
    padding-left: 120px;
}
/* footer related styles */
.footer{
    background-color: #111010;
    text-align: center;
    padding: 100px 150px;
}
.footer-title{
    color: white;
}
.footer-description{
    font-size: 12px;
    color: white;
}
.footer-copyright{
    color: white;
    font-size: 10px;
    opacity: 0.4;
}